In [5]:
# 1. Create a set with numbers from 1 to 5. Add the number 6 and remove 3. Print the final set.


sets = {1,2,3,4,4,5}
sets.add(6)
sets.remove(3)
print(sets)

{1, 2, 4, 5, 6}

In [ ]:

# -> 2. Write a program to find the union and intersection of two sets

set1 = {1,2,3,4,5}
set2 = {3,4,5,6}

intersection = set1 & set2
intersection

{3, 4, 5}

In [ ]:
# 3 Given a list with duplicates (1, 2, 2, 3, 4, 4, 51) convert it into a set to remove duplicates.

li = [1,2,2,3,4,4,51]
newset = set(li)
newset

{1, 2, 3, 4, 51}

In [ ]:
#4 Check whether the number 7 exists in the set {1, 3, 5, 7, 9}.

set1 = {1,3,5,7,9}
if 7 in set1:
    print('consisits')
else:
    print('Not in the sets')

consisits

In [22]:
# 5 Create two sets and print the symmetric difference between them.

set1 = {123,1141,4,11,541}
set2 = {124,14,4,14,1,1}

symmetric_diff = set1 ^ set2
symmetric_diff

{1, 11, 14, 123, 124, 541, 1141}

In [ ]:
# 6. Create a dictionary of 3 students with names as keys and marks as values. Print only the keys.
dict1 = {'shubham':89, 'pavel':98, 'amol':23}
dict1.keys()

dict_keys(['shubham', 'pavel', 'amol'])

In [ ]:
# 7.  Given ("a": 1, "b"; 2, "c": 31), update the value of "b" to 5.
set1 = {"a": 1, "b":2, "c":31}
set1 ['b'] = 5
set1

{'a': 1, 'b': 5, 'c': 31}

In [ ]:
# 8. Write a program to count character frequency in the string "hello world" and store it in a dictionary.

name = 'shubham'
dict = {}
for i in name:
    name.count()

TypeError: count() takes at least 1 argument (0 given)