
### casting - changing the data type format from the previously used data type for the same variable.
#### - we can cast the int to string but string to int can be not possible, cuz numbers can be treated as the strings

In [ ]:
# - camelCase
# - PascalCase
# - snake_case

In [2]:
a,b,c  = 1,2,3    #multiple assign
a

1

In [4]:
a,b = b,a   # swapping
b,a

(2, 1)

#### bunch assign

In [ ]:
nums = [1,2,3,4]
a,b,c,d = nums

In [8]:
print(a)
print(b)
print(c)

1
2
3

In [17]:
# we can do arithimetic operations directly while printing variables
print(a+b)

3

In [9]:
print(f'this is the addition of {a} and {b} = {a+b}')

this is the addition of 1 and 2 = 3

In [31]:
# global_variable - defined outside the function, so it's available everywhere in the file (global scope)
# local_variable - defined inside the function, so it's only available inside that function (local scope), cannot be called in the global scope

global_variable = "I am a global variable"

def example_function():
    local_variable = "I am a local variable"  # local scope
    print(local_variable)  # prints local variable
    print(global_variable)  # prints global variable (can access global from inside function)

example_function()

I am a local variable
I am a global variable

In [12]:
a = 'shubham'
len(a)     # find length

7

In [37]:
b = ['shubham']
short_name = b[0:2]
short_name
# slicing [start:ending:step]

['shubham']

In [15]:
a = 10
id(a) #showing the allocated space in the memory

4377958464

In [28]:
a = 3.2
b = 3.50

# when directly converted to int, rounding happens to the FLOOR

print(int(a))
print(int(b))

3
3

In [30]:
# if rounding done with the round(), rounding happens as it should be with respective floor/ceil
# note - where 1.50 = 2


print(round(a))
print(round(b))

3
4

In [7]:
# sets donts have the indexing storing method thats why its different from the rest of the sequence data types like 
# list, tuple, range

In [8]:
a = range(10) # here we store the 10 iterations

In [10]:
a  # we display the range

range(0, 10)

In [11]:
for i in range(1,10):  # only prints till n - 1
    print(i)

1
2
3
4
5
6
7
8
9

In [43]:
z = [1,2,3,4,5]  # reassign 'a' as a list to avoid shadowing
for i in range(len(z)):
    print(z[i])  # prints the values: 1, 2, 3, 4, 5

1
2
3
4
5

In [ ]:
# tuples are immutable, so cannot do operations like slicing, inserting.

In [ ]:
s = 'hello'
s_new = s.replace('h','f') # replace h to f
print(s_new)

fello

In [ ]:
# this got deliminated by space 
a = 'hello hi bye'
b = a.split(' ')
b

['hello', 'hi', 'bye']

In [2]:
a=13
a+=1
a

14

In [ ]:
# bitwise operators
& 
|
^

In [6]:
a = int(input('enter the bumber for the table'))
for i in range(1,11):
    print(f"a * i = {a*i}")

a * i = 12
a * i = 24
a * i = 36
a * i = 48
a * i = 60
a * i = 72
a * i = 84
a * i = 96
a * i = 108
a * i = 120

In [21]:
a = [1,2,3,4,5]
a[:2] = [10,20]

In [22]:
a

[10, 20, 3, 4, 5]

In [26]:
a.append(31)
a

[10, 20, 3, 4, 5, 34, 34, 31, 31]

In [30]:
a.extend([100,101]) # only list can be passed

In [29]:
a

[10, 20, 3, 4, 5, 34, 34, 31, 31, 100, 101]

In [ ]:
a.insert(2,[109,102]) # list insertion in list 
a

[10, 20, [109, 102], [109, 102], 3, 4, 5, 34, 34, 31, 31, 100, 101, 100, 101]

In [ ]:
a[2][1]

In [ ]:
del a # deleting value

In [42]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
my_string = 'python is the popular programming language'  # original sentence
li = []  # empty list to store words
word = ''  # temporary string to build each word
for i in range(len(my_string)):  # loop through each character by index
    if my_string[i] != ' ':  # if not a space, add character to word
        word += my_string[i]
    else:  # if space, word is complete
        li.append(word)  # add word to list
        word = ''  # reset word
if word:  # add last word after loop ends
    li.append(word)
li  # list of words: ['python', 'is', 'the', 'popular', 'programming', 'language']

In [12]:
email = 'john.doe@example.com'

In [ ]:
username = email.split('@')[0]  # spliting and assigning username to the variable
domain = email.split('@')[1]

In [14]:
domain

'example.com'

In [16]:
new_email = username + '@mycompany.com'
new_email

'john.doe@mycompany.com'

------