
### casting - changing the data type format from the previously used data type for the same variable.
#### - we can cast the int to string but string to int can be not possible, cuz numbers can be treated as the strings
##### - Use `return` if you want to reuse the value.
##### - Use `print` if you only want to display it.
##### - The modulus operator `(%)` is fundamentally a remainder operator. It works based on integer division, not floating-point division. The result of `4 / 3` in integer division is `1`, because the computer discards the fractional part `(.333...).`
 -  Just remember how much time we can divide the second number to the first one in and keep remaining as the reminders so for ex - 5%2 is essentially like, we can divide 5, 2 times by 2 and the reminder we will get is 1 so, 5%2 = 1

- always remember the `i` iteration always starts with 0 in for loop example below and ends with `n` so thats why we write the `i-1` in the end

```python
lst = ['shubh', 'sam']
for i in range(i, i+1): 
```

##### but in some cases `return` only returns single value, look in this example:
#### Given a string 'python' print each character using a loop.

```python
def each_char():
    s = 'python'
    for i in s:
        print(i) # prints p y t h o n
    
each_char()
```
----

```python

def each_char():
    s = 'python'
    for i in s:
        return(i) # only returns p
    
each_char()
```

In [5]:
# Integer
num = 42

# Float
price = 19.99

# String
name = "Alice"

# Boolean
is_active = True

# List
fruits = ["apple", "banana", "cherry"]

# Tuple
coordinates = (10.5, 20.3)

# Set
unique_numbers = {1, 2, 3, 4}

# Dictionary
person = {"name": "Bob", "age": 30}

# NoneType
nothing = None

In [6]:
# - camelCase
# - PascalCase
# - snake_case

In [7]:
a,b,c  = 1,2,3    #multiple assign
a

1

In [8]:
a,b = b,a   # swapping
b,a

(1, 2)

#### bunch assign

In [ ]:
nums = [1,2,3,4]
a,b,c,d = nums

In [8]:
print(a)
print(b)
print(c)

1
2
3

In [17]:
# we can do arithimetic operations directly while printing variables
print(a+b)

3

In [9]:
print(f'this is the addition of {a} and {b} = {a+b}')

this is the addition of 1 and 2 = 3

In [31]:
# global_variable - defined outside the function, so it's available everywhere in the file (global scope)
# local_variable - defined inside the function, so it's only available inside that function (local scope), cannot be called in the global scope

global_variable = "I am a global variable"

def example_function():
    local_variable = "I am a local variable"  # local scope
    print(local_variable)  # prints local variable
    print(global_variable)  # prints global variable (can access global from inside function)

example_function()

I am a local variable
I am a global variable

In [12]:
a = 'shubham'
len(a)     # find length

7

In [37]:
b = ['shubham']
short_name = b[0:2]
short_name
# slicing [start:ending:step]

['shubham']

In [15]:
a = 10
id(a) #showing the allocated space in the memory

4377958464

In [28]:
a = 3.2
b = 3.50

# when directly converted to int, rounding happens to the FLOOR

print(int(a))
print(int(b))

3
3

In [30]:
# if rounding done with the round(), rounding happens as it should be with respective floor/ceil
# note - where 1.50 = 2


print(round(a))
print(round(b))

3
4

In [7]:
# sets donts have the indexing storing method thats why its different from the rest of the sequence data types like 
# list, tuple, range

In [8]:
a = range(10) # here we store the 10 iterations

In [10]:
a  # we display the range

range(0, 10)

**Note:** In Python, `range(1, n+1)` is used to include `n` in the loop, because `range` stops before the last value.

In [ ]:
for i in range(1,10):  # only prints till n - 1
    print(i)

1
2
3
4
5
6
7
8
9

In [43]:
z = [1,2,3,4,5]  # reassign 'a' as a list to avoid shadowing
for i in range(len(z)):
    print(z[i])  # prints the values: 1, 2, 3, 4, 5

1
2
3
4
5

In [ ]:
# tuples are immutable, so cannot do operations like slicing, inserting.

In [ ]:
s = 'hello'
s_new = s.replace('h','f') # replace h to f
print(s_new)

fello

In [ ]:
# this got deliminated by space 
a = 'hello hi bye'
b = a.split(' ')
b

['hello', 'hi', 'bye']

In [ ]:
a=13
a+=1
a

14

In [6]:
a = int(input('enter the bumber for the table'))
for i in range(1,11):
    print(f"a * i = {a*i}")

a * i = 12
a * i = 24
a * i = 36
a * i = 48
a * i = 60
a * i = 72
a * i = 84
a * i = 96
a * i = 108
a * i = 120

In [ ]:
#    & (AND):            if both are 1, then
#    | (OR):             if atleast one of them is 1.
#    ^ (XOR):            if one or other is 1, but not both.
#    ~ (NOT):            Inverts all the bits from 1 to 0, or 0 to 1.
#    << (Left Shift):    Shifts bits to the left, adding zeros on the right.
#    >> (Right Shift):   Shifts bits to the right, discarding bits on the right.

a = 5      # 0b0101x
b = 3      # 0b0011

print(a & b)   # 1 (0b0001)
print(a | b)   # 7 (0b0111)
print(a ^ b)   # 6 (0b0110)
print(~a)      # -6 (inverts all bits)
print(a << 1)  # 10 (0b1010)
print(a >> 1)  # 2 (0b0010)

**Note:** In Python, `range(1, n+1)` is used for factorial to include `n` in the loop, because `range` stops before the last value.

In [ ]:
# Create two sets and print the symmetric difference between them.

set_1 = {1,2,3,4}
set_2 = {3,4,5,6}
sym_dif = set_1 ^ set_2
print(sym_dif)

#### Converting an Integer to Binary

![files](../img-refs/convert-to-bit.png)

In [21]:
a = [1,2,3,4,5]
a[:2] = [10,20]

In [22]:
a

[10, 20, 3, 4, 5]

In [26]:
a.append(31)
a

[10, 20, 3, 4, 5, 34, 34, 31, 31]

In [30]:
a.extend([100,101]) # only list can be passed

In [29]:
a

[10, 20, 3, 4, 5, 34, 34, 31, 31, 100, 101]

In [ ]:
a.insert(2,[109,102]) # list insertion in list 
a

[10, 20, [109, 102], [109, 102], 3, 4, 5, 34, 34, 31, 31, 100, 101, 100, 101]

In [ ]:
a[2][1]

In [ ]:
del a # deleting value

In [42]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
my_string = 'python is the popular programming language'  # original sentence
li = []  # empty list to store words
word = ''  # temporary string to build each word
for i in range(len(my_string)):  # loop through each character by index
    if my_string[i] != ' ':  # if not a space, add character to word
        word += my_string[i]
    else:  # if space, word is complete
        li.append(word)  # add word to list
        word = ''  # reset word
if word:  # add last word after loop ends
    li.append(word)
li  # list of words: ['python', 'is', 'the', 'popular', 'programming', 'language']

### Q. Print numbers from 1 to 10 using a while loop.


## Why is the rest of the logic important in a while loop?
### Your code:
```python
def nums():
    i = 1
    while i >= 10:
        print(i)
```

**Explanation:**
- Your loop condition is `i >= 10`. When `i` starts at 1, this is False, so the loop never runs.
- You need a condition that is True for the values you want to print.
- You also need to increment `i` so the loop eventually stops.

### Correct logic to print numbers from 1 to 10:
```python
def nums():
    i = 1
    while i <= 10:
        print(i)
        i += 1
nums()
```


- In a while loop, print(i) comes before i += 1 so you display the current value before moving to the next one. if we didn't write the line print(i), the printing will start from the (2, 10)



- #### **Why is incrementing important?**
- Without `i += 1`, `i` would always be 1 and the loop would run forever (if the condition was True).
- The increment moves to the next number, so you get 1, 2, 3, ..., 10.

**Summary:**
- The loop condition decides when the loop runs.
- The increment changes the value so the loop can end.
- Both are needed for a working while loop.

In [12]:
email = 'john.doe@example.com'

In [ ]:
username = email.split('@')[0]  # spliting and assigning username to the variable
domain = email.split('@')[1]

In [14]:
domain

'example.com'

In [16]:
new_email = username + '@mycompany.com'
new_email

'john.doe@mycompany.com'

------

#### LIST

In [2]:
# Python Lists - Quick Notes

# Access List Items
fruits = ["apple", "banana", "cherry"]
fruits[1]        # "banana"
fruits[-1]       # "cherry"

colors = ["red", "blue", "green", "yellow", "purple", "black", "white"]
colors[2:5]      # ["green", "yellow", "purple"]
colors[:4]       # ["red", "blue", "green", "yellow"]
colors[2:]       # ["green", "yellow", "purple", "black", "white"]
colors[-4:-1]    # ["yellow", "purple", "black"]

animals = ["dog", "cat", "rabbit"]
"cat" in animals # True

# Change List Items
numbers = [10, 20, 30]
numbers[1] = 200
# [10, 200, 30]

letters = ["a", "b", "c", "d"]
letters[1:3] = ["x", "y"]
# ["a", "x", "y", "d"]

# Add Items
cities = ["Paris", "London", "Tokyo"]
cities.append("New York")
# ["Paris", "London", "Tokyo", "New York"]

cars = ["BMW", "Audi", "Tesla"]
cars.insert(1, "Mercedes")
# ["BMW", "Mercedes", "Audi", "Tesla"]

langs = ["Python", "Java"]
langs.extend(["C++", "Go"])
# ["Python", "Java", "C++", "Go"]

# Remove Items
plants = ["rose", "lily", "tulip"]
plants.remove("lily")
# ["rose", "tulip"]

nums = [1, 2, 3]
nums.pop(1)
# [1, 3]

letters2 = ["a", "b", "c"]
letters2.pop()
# ["a", "b"]

birds = ["sparrow", "crow", "eagle"]
del birds[0]
# ["crow", "eagle"]

fish = ["salmon", "tuna", "shark"]
fish.clear()
# []

# Loop Through Lists
items = ["pen", "book", "pencil"]
for i in items:
    pass  # "pen", "book", "pencil"

for i in range(len(items)):
    pass  # 0: "pen", 1: "book", 2: "pencil"

j = 0
while j < len(items):
    pass  # "pen", "book", "pencil"
    j += 1

# Sort & Copy
scores = [50, 20, 40, 10]
scores.sort()
# [10, 20, 40, 50]
scores.sort(reverse=True)
# [50, 40, 20, 10]

names = ["John", "Alice", "Bob"]
names_copy = names.copy()
# ["John", "Alice", "Bob"]

# Join Lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined = list1 + list2
# [1, 2, 3, 4, 5, 6]

list3 = ["a", "b"]
list4 = ["c", "d"]
for x in list4:
    list3.append(x)
# ["a", "b", "c", "d"]

list5 = ["x", "y"]
list6 = ["z"]
list5.extend(list6)
# ["x", "y", "z"]

#### list

In [3]:
# Python Tuples - Quick Notes

# Create Tuples
fruits = ("apple", "banana", "cherry")
# ("apple", "banana", "cherry")

# Tuples allow duplicates
colors = ("red", "blue", "green", "red", "green")
# ("red", "blue", "green", "red", "green")

# Tuple length
animals = ("dog", "cat", "rabbit")
len(animals)           # 3

# One item tuple (needs a comma!)
single = ("apple",)
type(single)           # <class 'tuple'>
not_tuple = ("apple")
type(not_tuple)        # <class 'str'>

# Tuples with different datatypes
mixed = ("abc", 34, True, 40.5, "male")
# ("abc", 34, True, 40.5, "male")

# Using tuple() constructor
veggies = tuple(("carrot", "potato", "tomato"))
# ("carrot", "potato", "tomato")

# Access Tuple Items
cities = ("Paris", "London", "Berlin")
cities[1]              # "London"
cities[-1]             # "Berlin"

numbers = (10, 20, 30, 40, 50, 60, 70)
numbers[2:5]           # (30, 40, 50)
numbers[:4]            # (10, 20, 30, 40)
numbers[2:]            # (30, 40, 50, 60, 70)
numbers[-4:-1]         # (40, 50, 60)

"London" in cities     # True

# Update Tuples (workarounds)
foods = ("pizza", "burger", "pasta")
temp = list(foods)
temp[1] = "sandwich"
foods = tuple(temp)
# ("pizza", "sandwich", "pasta")

drinks = ("tea", "coffee")
temp = list(drinks)
temp.append("juice")
drinks = tuple(temp)
# ("tea", "coffee", "juice")

letters = ("a", "b", "c")
letters += ("d",)
# ("a", "b", "c", "d")

pets = ("cat", "dog", "parrot")
temp = list(pets)
temp.remove("dog")
pets = tuple(temp)
# ("cat", "parrot")

# Delete tuple completely
cars = ("BMW", "Audi")
del cars
# (cars no longer exists)

# Unpacking Tuples
fruits = ("apple", "banana", "cherry")
(a, b, c) = fruits
# a = "apple", b = "banana", c = "cherry"

numbers = (1, 2, 3, 4, 5)
(x, y, *rest) = numbers
# x = 1, y = 2, rest = [3, 4, 5]

places = ("Tokyo", "Paris", "Berlin", "Rome", "NYC")
(first, *middle, last) = places
# first = "Tokyo", middle = ["Paris", "Berlin", "Rome"], last = "NYC"

# Loop Tuples
items = ("pen", "book", "eraser")
for i in items:
    pass  # "pen", "book", "eraser"

for i in range(len(items)):
    pass  # 0: "pen", 1: "book", 2: "eraser"

j = 0
while j < len(items):
    pass  # "pen", "book", "eraser"
    j += 1

# Join and Multiply Tuples
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
joined = tuple1 + tuple2
# ("a", "b", "c", 1, 2, 3)

fruits = ("apple", "banana")
doubled = fruits * 2
# ("apple", "banana", "apple", "banana")

# Tuple Methods
nums = (1, 2, 3, 2, 4, 2)
nums.count(2)          # 3
nums.index(3)          # 2

2

#### SETS

In [4]:
# Python Sets - Quick Notes

# Create Sets
fruits = {"apple", "banana", "cherry"}
# {"apple", "banana", "cherry"}

# Duplicates are ignored
colors = {"red", "blue", "red", "green"}
# {"red", "blue", "green"}

# True and 1 are considered duplicates
mix1 = {"apple", True, 1, 2}
# {"apple", 1, 2}

# False and 0 are considered duplicates
mix2 = {"banana", False, 0, "grape"}
# {"banana", 0, "grape"}

# Length of a set
animals = {"dog", "cat", "rabbit"}
len(animals)                # 3

# Mixed datatypes
mixed = {"abc", 34, True, 40, "male"}
# {"abc", 34, 1, 40, "male"}

# Using set() constructor
veggies = set(("carrot", "potato", "tomato"))
# {"carrot", "potato", "tomato"}

# Accessing Set Items
cities = {"Paris", "London", "Berlin"}
for c in cities:
    pass  # "Paris", "London", "Berlin" (order not guaranteed)

"London" in cities         # True
"Rome" not in cities       # True

# Add Set Items
drinks = {"tea", "coffee"}
drinks.add("juice")
# {"tea", "coffee", "juice"}

drinks2 = {"water", "milk"}
drinks.update(drinks2)
# {"tea", "coffee", "juice", "water", "milk"}

drinks.update(["soda", "shake"])
# {"tea", "coffee", "juice", "water", "milk", "soda", "shake"}

# Remove Set Items
pets = {"cat", "dog", "parrot"}
pets.remove("dog")
# {"cat", "parrot"}

birds = {"sparrow", "crow", "pigeon"}
birds.discard("crow")
# {"sparrow", "pigeon"}

nums = {"one", "two", "three"}
removed = nums.pop()
# removed: random item, nums: remaining items

letters = {"a", "b", "c"}
letters.clear()
# set()

shapes = {"circle", "square"}
del shapes
# shapes no longer exists

# Loop Through Sets
gadgets = {"phone", "laptop", "tablet"}
for g in gadgets:
    pass  # "phone", "laptop", "tablet" (order not guaranteed)

# Joining Sets
setA = {"a", "b", "c"}
setB = {1, 2, 3}
joined = setA.union(setB)
# {"a", "b", "c", 1, 2, 3}

joined2 = setA | setB
# {"a", "b", "c", 1, 2, 3}

setA.update(setB)
# setA: {"a", "b", "c", 1, 2, 3}

# Intersection (common items)
setX = {"apple", "banana", "cherry"}
setY = {"google", "apple", "microsoft"}
common = setX.intersection(setY)
# {"apple"}

setX & setY
# {"apple"}

# Difference (items only in setX)
diff = setX.difference(setY)
# {"banana", "cherry"}

setX - setY
# {"banana", "cherry"}

# Symmetric difference (items not in both)
sym_diff = setX.symmetric_difference(setY)
# {"banana", "cherry", "google", "microsoft"}

setX ^ setY
# {"banana", "cherry", "google", "microsoft"}

# Set Methods Overview
set1 = {"python", "java", "c++"}
set2 = {"python", "html"}

set1.copy()                # {"python", "java", "c++"}
set1.isdisjoint(set2)      # False
{"python"} <= set1         # True
set1 >= {"java"}           # True

True

#### DICTIONARIES

In [5]:
# Creating Dictionaries
car_info = {"brand": "Ford", "model": "Mustang", "year": 1964}
# {"brand": "Ford", "model": "Mustang", "year": 1964}

# Duplicates not allowed (last key overwrites previous one)
car_info2 = {"brand": "Ford", "model": "Mustang", "year": 1964, "year": 2020}
# {"brand": "Ford", "model": "Mustang", "year": 2020}

# Length of dictionary
len(car_info)                  # 3

# Values can be different types
mixed_dict = {"brand": "Ford", "electric": False, "year": 1964, "colors": ["red", "white", "blue"]}
# {"brand": "Ford", "electric": False, "year": 1964, "colors": ["red", "white", "blue"]}

# Type check
type(car_info)                 # <class 'dict'>

# Using dict() constructor
person = dict(name="John", age=36, country="Norway")
# {"name": "John", "age": 36, "country": "Norway"}

# Accessing Dictionary Items
car_details = {"brand": "Toyota", "model": "Corolla", "year": 2010}
car_details["model"]           # "Corolla"
car_details.get("model")       # "Corolla"
car_details.keys()             # dict_keys(['brand', 'model', 'year'])
car_details.values()           # dict_values(['Toyota', 'Corolla', 2010])
car_details.items()            # dict_items([('brand', 'Toyota'), ('model', 'Corolla'), ('year', 2010)])
"model" in car_details         # True

# Changing Dictionary Items
book = {"title": "Python Basics", "year": 2015}
book["year"] = 2020
# {"title": "Python Basics", "year": 2020}
book.update({"title": "Advanced Python"})
# {"title": "Advanced Python", "year": 2020}

# Adding Dictionary Items
student = {"name": "Alice", "age": 21}
student["grade"] = "A"
# {"name": "Alice", "age": 21, "grade": "A"}
student.update({"city": "New York"})
# {"name": "Alice", "age": 21, "grade": "A", "city": "New York"}

# Removing Dictionary Items
employee = {"name": "Bob", "role": "Manager", "salary": 5000}
employee.pop("role")
# {"name": "Bob", "salary": 5000}

employee2 = {"name": "Eva", "dept": "HR", "level": 2}
employee2.popitem()
# removes last item, e.g. {"name": "Eva", "dept": "HR"}

employee3 = {"name": "Sam", "dept": "Finance"}
del employee3["dept"]
# {"name": "Sam"}

employee4 = {"name": "Kim", "dept": "IT"}
employee4.clear()
# {}

# Looping Through Dictionaries
fruit_info = {"type": "fruit", "name": "apple", "color": "red"}
for k in fruit_info:
    pass  # "type", "name", "color"
for k in fruit_info:
    pass  # fruit_info[k]: "fruit", "apple", "red"
for v in fruit_info.values():
    pass  # "fruit", "apple", "red"
for k in fruit_info.keys():
    pass  # "type", "name", "color"
for k, v in fruit_info.items():
    pass  # ("type", "fruit"), ("name", "apple"), ("color", "red")

# Copying Dictionaries
original = {"a": 1, "b": 2}
copy1 = original.copy()
# {"a": 1, "b": 2}
copy2 = dict(original)
# {"a": 1, "b": 2}

# Dictionary Methods Overview
sample = {"x": 10, "y": 20}
sample.copy().clear()         # None (clears copy)
sample.copy()                 # {"x": 10, "y": 20}
dict.fromkeys(["a", "b"], 0)  # {"a": 0, "b": 0}
sample.get("x")               # 10
sample.items()                # dict_items([('x', 10), ('y', 20)])
sample.keys()                 # dict_keys(['x', 'y'])
sample.values()               # dict_values([10, 20])
sample.pop("y", "Not Found")  # 20
sample.setdefault("z", 99)    # 99
sample.update({"w": 50})
# {"x": 10, "z": 99, "w": 50}

### things to remember

- if we want to find extract the digits from number we do (num%10)
- `&` is used for the intersection - `set1 & set2`
- `^` is used to find the symmetric difference - `set1 ^ set2` (basically excluding the common elements from both sets)

### weak areas

- updating the values in the dictionary 
-