In [ ]:
# shubham raut

In [ ]:
# 1. Create a set with numbers from 1 to 5. Add the number 6 and remove 3. Print the final set.
nums = {1,2,3,4,5}
nums.add(6)
nums.remove(3)
nums

{1, 2, 4, 5, 6}

In [1]:
# 2. Write a program to find the union and intersection of two sets: {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union = set1 | set2        
print(union)

{1, 2, 3, 4, 5}

In [4]:
intersection = set1 & set2
print(intersection)

{3}

In [7]:
# 3. Given a list with duplicates [1, 2, 2, 3, 4, 4, 5], convert it into a set to remove duplicates.

li = [1,2,2,3,4,4,5]
convert = set(li)
convert

{1, 2, 3, 4, 5}

In [10]:
# 4. Check whether the number 7 exists in the set {1, 3, 5, 7, 9}.

my_set = {1,3,5,7,9}
if 7 in my_set:
    print(True)
else:
    print(False)

True

In [13]:
# 5. Create two sets and print the symmetric difference between them.

set_1 = {1,2,3,4}
set_2 = {3,4,5,6}


sym_dif = set_1 ^ set_2
print(sym_dif)

{1, 2, 5, 6}

In [7]:
# 6. Create a dictionary of 3 students with names as keys and marks as values. Print only the keys.
students = {'Shubham': 98, 'Rajesh':100, 'Sam':39}
print(students.keys())

dict_keys(['Shubham', 'Rajesh', 'Sam'])

In [13]:
# 7. Given {"a": 1, "b": 2, "c": 3), update the value of "b" to 5.
dict_1 = {"a": 1, "b": 2, "c": 3}
dict_1["b"] = 5
dict_1

{'a': 1, 'b': 5, 'c': 3}

In [24]:
# 8. Write a program to count character frequency in the string 'hello world' and store it in a dictionary.
string = 'hello world'
freq = {}
for i in string:
    freq[i] = freq.get(i, 0) + 1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [32]:
# 9. Merge two dictionaries: ("x": 10, "y": 20) and ("y": 30, "z": 40).

dict_1 = {"x":10, "y": 20}
dict_2 = {"y":30, "z":40}
dict_1.update(dict_2)

dict_1

{'x': 10, 'y': 30, 'z': 40}

In [ ]:
# 10. Check if a given key exists in a dictionary. If not, add the key with a default value.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'