In [180]:
# shubham raut

In [181]:
# 1. Create a set with numbers from 1 to 5. Add the number 6 and remove 3. Print the final set.
nums = {1,2,3,4,5}
nums.add(6)
nums.remove(3)
nums

{1, 2, 4, 5, 6}

In [182]:
# 2. Write a program to find the union and intersection of two sets: {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union = set1 | set2        
print(union)

intersection = set1 & set2
print(intersection)

{1, 2, 3, 4, 5}
{3}

In [183]:
# 3. Given a list with duplicates [1, 2, 2, 3, 4, 4, 5], convert it into a set to remove duplicates.

li = [1,2,2,3,4,4,5]
convert = set(li)
convert

{1, 2, 3, 4, 5}

In [184]:
# 4. Check whether the number 7 exists in the set {1, 3, 5, 7, 9}.

my_set = {1,3,5,7,9}
if 7 in my_set:
    print(True)
else:
    print(False)

True

In [185]:
# 5. Create two sets and print the symmetric difference between them.

set_1 = {1,2,3,4}
set_2 = {3,4,5,6}


sym_dif = set_1 ^ set_2
print(sym_dif)

{1, 2, 5, 6}

In [186]:
# 6. Create a dictionary of 3 students with names as keys and marks as values. Print only the keys.
students = {'Shubham': 98, 'Rajesh':100, 'Sam':39}
print(students.keys())

dict_keys(['Shubham', 'Rajesh', 'Sam'])

In [187]:
# 7. Given {"a": 1, "b": 2, "c": 3), update the value of "b" to 5.
dict_1 = {"a": 1, "b": 2, "c": 3}
dict_1["b"] = 5
dict_1

{'a': 1, 'b': 5, 'c': 3}

In [188]:
# 8. Write a program to count character frequency in the string 'hello world' and store it in a dictionary.
string = 'hello world'
freq = {}
for i in string:
    freq[i] = freq.get(i, 0) + 1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [189]:
# 9. Merge two dictionaries: ("x": 10, "y": 20) and ("y": 30, "z": 40).

dict_1 = {"x":10, "y": 20}
dict_2 = {"y":30, "z":40}
dict_1.update(dict_2)
 
dict_1

{'x': 10, 'y': 30, 'z': 40}

In [190]:
# 10. Check if a given key exists in a dictionary. If not, add the key with a default value.

dict1 = {'a':1, 'b':2}
key = 'c'
if key not in dict1:
    dict1[key] = None
print(dict1)

{'a': 1, 'b': 2, 'c': None}

In [191]:
# 11. Write a function greet() that prints 'Hello, Python!'.

def greet():
    return 'Hello Python!'
greet()

'Hello Python!'

In [192]:
# 12. Create a function square(n) that returns the square of a number.

def square(n):
    return n * n
square(2)

4

In [193]:
# 13. Write a function to calculate the sum of all elements in a list.

def add_list(li):
    return sum(li)

add_list([123,13412,5124151,154])

5137840

In [194]:
# 14. Create a function with a default parameter: def welcome (name="Guest"). Print  "Welcome, <name>!".

def welcome(name="Guest"):
    print(f'Welcome, {name}')

welcome('shubham')

Welcome, shubham

In [195]:
# 15.  Write a function is_even (num) that returns True if a number is even, else False

def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False
    
is_even(13)

False

In [196]:
#  16. Create a function to calculate the factorial of a number using recursion.

def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

fact(12)

479001600

In [197]:
# 17. Write a function max_of _three (a, b, c) that returns the largest of three numbers.
def max_of_three(a,b,c):
    return max(a,b,c)
print(max_of_three(12,41,51))

51

In [198]:
# 18. Create a function reverse_string(s) that returns the reversed string.
def reverse_string(s)-> str:
    return s[::-1]
reverse_string('shubham')

'mahbuhs'

In [199]:
# 19. Write a function to count the number of vowels in a given string.

def count_vowels(s):
    vowels = ['a','e','i','o','u']
    count = 0
    for char in s:
        if char in vowels:
            count +=1
    return count
count_vowels('shubham')

2

In [200]:
# 20. Create a function that accepts any number of arguments using *args and returns their sum

def summing(*args):
    return sum(args)
summing(123,1,51,51,3251)

3477

In [201]:
# 21. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [202]:
# 22. Print the multiplication table of 5 using a loop.
for i in range(1,11):
    print(f'5 x {i} = {5 * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [203]:
# 23. Given a list [10, 20, 30, 40], print each element using a loop.

li = [10,20,30,40]
for i in li:
    print(i)

10
20
30
40

In [204]:
# 24. Write a program to find the sum of numbers from 1 to 100 using a for loop.

def sum100():
    s = 0
    for i in range(1,101):
        s += i
    return s

sum100()

5050

In [205]:
# 25. Print only even numbers from 1 to 20 using a loop.

def even():
    s = []
    for i in range(1,21):
        if i %2 == 0:
            s.append(i)
    print(s)
even()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [206]:
# 26. Given a string 'python' print each character using a loop.

def each_char():
    s = 'python'
    for i in s:
        print(i)
    
each_char()

p
y
t
h
o
n

In [207]:
# 27. Find the factorial of n using a for loop.

def fact(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
print(fact(12))

479001600

In [208]:
# 28. Print the reverse of a list [1, 2, 3, 4, 5] using a loop.
def fun_li():
    li = [1,2,3,4,5]
    for i in li[::-1]:
        print(i)
fun_li()

5
4
3
2
1

In [209]:
# 29. Count and print the number of odd numbers between 1 and 50.
def odd_nums(n):
    odds = []
    for i in range(1, n+1):
        if i%2 ==1: 
            odds.append(i)
    print(f'total count of odd nums: {len(odds)}')
    print(f'list of numbers from 1 to {n} are : {odds}')

odd_nums(50)

total count of odd nums: 25
list of numbers from 1 to 50 are : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [210]:
# 30. Given a list of integers, print only the positive numbers using a loop.
def positive():
    li = [-1,-10,-5,0,1,2,3,4]
    new_li = []

    for i in li:
        if i > 0:
            new_li.append(i)
    print(new_li)
positive()

[1, 2, 3, 4]

In [211]:
# 31. Print numbers from 1 to 10 using a while loop.

def nums():
    i = 1
    while i <= 10:
        print(i)
        i = i + 1
nums()

1
2
3
4
5
6
7
8
9
10

In [212]:
# 32. Calculate the sum of digits of a number using a while loop.
def sum_of_digits():
    num = int(input(''))
    sum_of_digits = 0

    while num > 0:
        digit = num % 10
        sum_of_digits = sum_of_digits + digit
        num = num // 10
    print('Sum of digits', sum_of_digits)
sum_of_digits()

Sum of digits 12

In [213]:
# 33. Reverse a number using a while loop.
num = int(input())
reverse = 0
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num = num // 10

print(reverse)

435514141

In [214]:
# 34. Keep taking user input until they enter "exit".
user_input = ""
while user_input.lower() != "exit":
    user_input = input("Enter something (type 'exit' to stop): ")
    if user_input.lower() != "exit":
        print(f'You entered: {user_input}')

You entered: sfgs
You entered: sfeed
You entered: sfeed

In [215]:
# 35. Print the multiplication table of a given number using a while loop.
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

123 x 1 = 123
123 x 2 = 246
123 x 3 = 369
123 x 4 = 492
123 x 5 = 615
123 x 6 = 738
123 x 7 = 861
123 x 8 = 984
123 x 9 = 1107
123 x 10 = 1230

In [216]:
# 36. Print the first 10 even numbers using a while loop.
count = 0
num = 2
while count < 10:
    print(num)
    num += 2
    count += 1

2
4
6
8
10
12
14
16
18
20

In [217]:
# 37. Find the factorial of a number using a while loop.
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"Factorial of {num} is {factorial}")

Factorial of 123 is 12146304367025329675766243241881295855454217088483382315328918161829235892362167668831156960612640202170735835221294047782591091570411651472186029519906261646730733907419814952960000000000000000000000000000

In [218]:
# 38. Count the number of digits in a number using a while loop.
num = int(input("Enter a number: "))
count = 0
if num == 0:
    count = 1
else:
    while num > 0:
        num = num // 10
        count += 1
print(f"Number of digits: {count}")

Number of digits: 6

In [219]:
# 39. Print the Fibonacci sequence up to n terms using a while loop.
n = int(input("Enter number of terms: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [220]:
# 40. Keep asking for a password until the user enters "python123".
password = ""
while password != "python123":
    password = input("Enter password: ")
    if password != "python123":
        print("Incorrect password. Try again.")
print("Access granted!")

Incorrect password. Try again.
Access granted!
Access granted!

In [221]:
# 41. Check if a given number is positive, negative, or zero.
num = int(input("Enter a number: "))
if num > 0:
    print(f"{num} is positive.")
elif num < 0:
    print(f"{num} is negative.")
else:
    print(f"{num} is zero.")

23 is positive.

In [222]:
# 42. Input a year and check if it’s a leap year.
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2009 is not a leap year.

In [223]:
# 43. Input a character and check if it’s a vowel or consonant.
char = input("Enter a character: ").lower()
if len(char) == 1 and char.isalpha():
    if char in ['a', 'e', 'i', 'o', 'u']:
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")
else:
    print("Please enter a single alphabetic character.")

r is a consonant.

In [224]:
# 44. Check if a number is divisible by both 3 and 5.
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print(f"{num} is divisible by both 3 and 5.")
else:
    print(f"{num} is not divisible by both 3 and 5.")

321 is not divisible by both 3 and 5.

In [225]:
# 45. Input age and print whether the person is eligible to vote (18 or above).
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

In [226]:
# 46. Given three numbers, print the largest one.
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
largest = max(a, b, c)
print(f"The largest number is {largest}.")

The largest number is 23.

In [227]:
# 47. Input a mark and print the grade:
mark = int(input("Enter your mark: "))
if mark >= 90:
    print("Grade: A")
elif mark >= 75:
    print("Grade: B")
elif mark >= 60:
    print("Grade: C")
else:
    print("Grade: F")

Grade: A

In [228]:
# 48. Check if a string is a palindrome.
s = input("Enter a string: ")
if s == s[::-1]:
    print(f'"{s}" is a palindrome.')
else:
    print(f'"{s}" is not a palindrome.')

"racecar" is a palindrome.

In [229]:
# 49. Given a number, check if it is even or odd using conditional statements.
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(f"{num} is even.")
else:
    print(f"{num} is odd.")

23 is odd.

In [230]:
# 50. Take two numbers and a choice from the user. If the choice is 'add', print sum; if 'sub', print difference; else print 'Invalid choice'.
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
choice = input('Enter choice (add/sub): ').lower()
if choice == 'add':
    print(f'Sum: {num1 + num2}')
elif choice == 'sub':
    print(f'Difference: {num1 - num2}')
else:
    print('Invalid choice')

Sum: 67

In [231]:
# 51. Input two numbers and print their sum, difference, product, quotient, and remainder.
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
print(f'Sum: {num1 + num2}')
print(f'Difference: {num1 - num2}')
print(f'Product: {num1 * num2}')
if num2 != 0:
    print(f'Quotient: {num1 // num2}')
    print(f'Remainder: {num1 % num2}')
else:
    print('Cannot divide by zero.')

Sum: 268
Difference: -22
Product: 17835
Quotient: 0
Remainder: 123

In [232]:
# 52. Given a = 2, b = 5, print a ** b.
a = 2
b = 5
print(f'{a} ** {b} = {a ** b}')

2 ** 5 = 32

In [233]:
# 53. Find the area of a circle given its radius (pi = 3.14).
radius = float(input('Enter the radius of the circle: '))
pi = 3.14
area = pi * radius ** 2
print(f'Area of the circle with radius {radius} is {area}')

Area of the circle with radius 10.0 is 314.0

In [234]:
# 54. Input marks of 5 subjects and print their average.
marks = []
for i in range(1, 6):
    mark = float(input(f'Enter marks for subject {i}: '))
    marks.append(mark)
average = sum(marks) / 5
print(f'Average marks: {average}')

Average marks: 366.4

In [235]:
# 55. Convert temperature from Celsius to Fahrenheit.
celsius = float(input('Enter temperature in Celsius: '))
fahrenheit = (celsius * 9/5) + 32
print(f'{celsius}°C is equal to {fahrenheit}°F')

24.0°C is equal to 75.2°F

In [236]:
# 56. For a = 5 and b = 3, print results of a & b, a | b, and a ^ b.
a = 5
b = 3
print(f'a & b = {a & b}')  # Bitwise AND
print(f'a | b = {a | b}')  # Bitwise OR
print(f'a ^ b = {a ^ b}')  # Bitwise XOR

a & b = 1
a | b = 7
a ^ b = 6

In [237]:
# 57. Shift bits of x = 8 to the left by 2 positions and print the result.
x = 8
result = x << 2
print(f'{x} shifted left by 2 positions is {result}')

8 shifted left by 2 positions is 32

In [238]:
# 58. Check whether a given number is even using bitwise operators.
num = int(input('Enter a number: '))
if num & 1 == 0:
    print(f'{num} is even (checked using bitwise operator).')
else:
    print(f'{num} is odd (checked using bitwise operator).')

45 is odd (checked using bitwise operator).

In [239]:
# 59. Swap two numbers using bitwise XOR.
a = int(input('Enter first number (a): '))
b = int(input('Enter second number (b): '))
print(f'Before swap: a = {a}, b = {b}')
a = a ^ b
b = a ^ b
a = a ^ b
print(f'After swap: a = {a}, b = {b}')

Before swap: a = 12, b = 19
After swap: a = 19, b = 12

In [240]:
# 60. Demonstrate bitwise NOT on an integer and explain the output.
num = int(input('Enter an integer: '))
result = ~num
print(f'Bitwise NOT of {num} is {result}')
print('Explanation:')
print(f'~{num} flips all bits of the integer. In Python, ~n is equal to -(n+1).')

Bitwise NOT of 129 is -130
Explanation:
~129 flips all bits of the integer. In Python, ~n is equal to -(n+1).

In [241]:
# 61. Input two numbers and print the greater one using a ternary operator.
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
greater = a if a > b else b
print(f'The greater number is {greater}')

The greater number is 1234

In [242]:
# 62. Print "even" if a number is divisible by 2, else print "odd".
num = int(input('Enter a number: '))
print('even' if num % 2 == 0 else 'odd')

even

In [243]:
# 63. Assign "Pass" or "Fail" to a variable based on marks ≥ 40 using a single line.
marks = int(input('Enter marks: '))
result = 'Pass' if marks >= 40 else 'Fail'
print(f'Result: {result}')

Result: Pass

In [244]:
# 64. Input three numbers and print the smallest using a ternary operator.
a = int(input('Enter first number: '))
b = int(input('Enter second number: '))
c = int(input('Enter third number: '))
smallest = a if a < b and a < c else (b if b < c else c)
print(f'The smallest number is {smallest}')

The smallest number is 231

In [ ]:
# 65. Check if a character is uppercase or lowercase in one line.
char = input('Enter a character: ') 
print('Uppercase' if char.isupper() else 'Lowercase' if char.islower() else 'Not a letter')

Lowercase