In [ ]:
# shubham raut

In [ ]:
# 1. Create a set with numbers from 1 to 5. Add the number 6 and remove 3. Print the final set.
nums = {1,2,3,4,5}
nums.add(6)
nums.remove(3)
nums

{1, 2, 4, 5, 6}

In [1]:
# 2. Write a program to find the union and intersection of two sets: {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union = set1 | set2        
print(union)

{1, 2, 3, 4, 5}

In [4]:
intersection = set1 & set2
print(intersection)

{3}

In [7]:
# 3. Given a list with duplicates [1, 2, 2, 3, 4, 4, 5], convert it into a set to remove duplicates.

li = [1,2,2,3,4,4,5]
convert = set(li)
convert

{1, 2, 3, 4, 5}

In [10]:
# 4. Check whether the number 7 exists in the set {1, 3, 5, 7, 9}.

my_set = {1,3,5,7,9}
if 7 in my_set:
    print(True)
else:
    print(False)

True

In [13]:
# 5. Create two sets and print the symmetric difference between them.

set_1 = {1,2,3,4}
set_2 = {3,4,5,6}


sym_dif = set_1 ^ set_2
print(sym_dif)

{1, 2, 5, 6}

In [7]:
# 6. Create a dictionary of 3 students with names as keys and marks as values. Print only the keys.
students = {'Shubham': 98, 'Rajesh':100, 'Sam':39}
print(students.keys())

dict_keys(['Shubham', 'Rajesh', 'Sam'])

In [13]:
# 7. Given {"a": 1, "b": 2, "c": 3), update the value of "b" to 5.
dict_1 = {"a": 1, "b": 2, "c": 3}
dict_1["b"] = 5
dict_1

{'a': 1, 'b': 5, 'c': 3}

In [24]:
# 8. Write a program to count character frequency in the string 'hello world' and store it in a dictionary.
string = 'hello world'
freq = {}
for i in string:
    freq[i] = freq.get(i, 0) + 1
print(freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
# 9. Merge two dictionaries: ("x": 10, "y": 20) and ("y": 30, "z": 40).

dict_1 = {"x":10, "y": 20}
dict_2 = {"y":30, "z":40}
dict_1.update(dict_2)
 
dict_1

{'x': 10, 'y': 30, 'z': 40}

In [37]:
# 10. Check if a given key exists in a dictionary. If not, add the key with a default value.

dict1 = {'a':1, 'b':2}
key = 'c'
if key not in dict1:
    dict1[key] = None
print(dict1)

{'a': 1, 'b': 2, 'c': None}

In [ ]:
# 11. Write a function greet() that prints 'Hello, Python!'.

def greet():
    return 'Hello Python!'
greet()

'hello python'

In [39]:
# 12. Create a function square(n) that returns the square of a number.

def square(n):
    return n * n
square(2)

4

In [42]:
# 13. Write a function to calculate the sum of all elements in a list.

def add_list(li):
    return sum(li)

add_list([123,13412,5124151,154])

5137840

In [ ]:
# 14. Create a function with a default parameter: def welcome (name="Guest"). Print  "Welcome, <name>!".

def welcome(name="Guest"):
    print(f'Welcome, {name}')

welcome('shubham')

Welcome, shubham

In [ ]:
# 15.  Write a function is_even (num) that returns True if a number is even, else False

def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False
    
is_even(13)

False

In [ ]:
#  16. Create a function to calculate the factorial of a number using recursion.

def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

fact(12)

479001600

In [58]:
# 17. Write a function max_of _three (a, b, c) that returns the largest of three numbers.
def max_of_three(a,b,c):
    return max(a,b,c)
print(max_of_three(12,41,51))

51

In [60]:
# 18. Create a function reverse_string(s) that returns the reversed string.
def reverse_string(s)-> str:
    return s[::-1]
reverse_string('shubham')

'mahbuhs'

In [67]:
# 19. Write a function to count the number of vowels in a given string.

def count_vowels(s):
    vowels = ['a','e','i','o','u']
    count = 0
    for char in s:
        if char in vowels:
            count +=1
    return count
count_vowels('shubham')

2

In [72]:
# 20. Create a function that accepts any number of arguments using *args and returns their sum

def summing(*args):
    return sum(args)
summing(123,1,51,51,3251)

3477

In [73]:
# 21. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [75]:
# 22. Print the multiplication table of 5 using a loop.
for i in range(1,11):
    print(f'5 x {i} = {5 * i}')

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [77]:
# 23. Given a list [10, 20, 30, 40], print each element using a loop.

li = [10,20,30,40]
for i in li:
    print(i)

10
20
30
40

In [ ]:
# 24. Write a program to find the sum of numbers from 1 to 100 using a for loop.

def sum100():
    s = 0
    for i in range(1,101):
        s += i
    return s

sum100()

5050

In [92]:
# 25. Print only even numbers from 1 to 20 using a loop.

def even():
    s = []
    for i in range(1,21):
        if i %2 == 0:
            s.append(i)
    print(s)
even()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [95]:
# 26. Given a string 'python' print each character using a loop.

def each_char():
    s = 'python'
    for i in s:
        print(i)
    
each_char()

p
y
t
h
o
n

In [103]:
# 27. Find the factorial of n using a for loop.

def fact(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
print(fact(12))

479001600

1

In [ ]:
# 28. Print the reverse of a list [1, 2, 3, 4, 5] using a loop.

479001600

In [ ]:
# 27. Find the factorial of n using a for loop.

def fact(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
print(fact(12))

1

### Factorial with a For Loop: Step 1 - Function Definition and Initialization

Let's break down the first part of the factorial logic:

#### 1. Function Definition
```python
def fact(n):
```
- This line defines a function named `fact` that takes one input parameter `n`.
- A function is a reusable block of code that performs a specific task.
- Here, `n` is the number for which we want to calculate the factorial.

#### 2. Initialization of Result
```python
    result = 1
```
- We create a variable called `result` and set it to 1.
- Why start with 1? Because multiplying by 1 does not change the value, and factorial is a product of numbers.
- This variable will hold the running product as we multiply each number from 1 up to `n`.

**Summary:**
- The function is set up to receive a number `n`.
- We prepare a variable `result` to store our answer, starting at 1.

Next step: We'll use a loop to multiply all numbers from 1 to `n` and update `result`.

### Line-by-Line Explanation: Factorial with a For Loop

Let's explain each line of the code:

```python
def fact(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
print(fact(12))
```

**1. `def fact(n):`**
- This defines a function named `fact` that takes one argument `n`.
- The function will calculate the factorial of `n`.

**2. `result = 1`**
- Creates a variable called `result` and sets it to 1.
- This variable will store the running product as we multiply numbers.
- We start with 1 because multiplying by 1 does not change the value.

**3. `for i in range(1, n+1):`**
- Starts a loop that goes from 1 up to and including `n`.
- `range(1, n+1)` means the loop runs for i = 1, 2, ..., n.
- Each time the loop runs, `i` takes the next value in the sequence.

**4. `result *= i`**
- This is a shortcut for `result = result * i`.
- Multiplies the current value of `result` by `i` and updates `result`.
- This repeats for every value of `i` in the loop.

**5. `return result`**
- After the loop finishes, returns the final value of `result`.
- This is the factorial of `n`.

**6. `print(fact(12))`**
- Calls the function with `n = 12` and prints the result.
- The output will be the factorial of 12.

---
If you want more details about how the loop works for each step, let me know!